### Import necessary Packages

In [38]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

## Read the HTML content from the URL

In [39]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
html_doc = response.text

In [40]:
soup = BeautifulSoup(html_doc, 'html.parser')

### Load the Postal codes table content from HTML document

In [41]:
table = soup.find_all('table')[0]

### Retrieve the header information from the table

In [42]:
tr_values = table.find_all('tr')

th_values = tr_values[0].find_all('th')


header_columns=[]

for thvalue in th_values:
    header_columns.append(thvalue.contents[0].replace('\n',''))

header_columns

['Postcode', 'Borough', 'Neighbourhood']

### Define dataframe using pandas with the table columns retrieve in the previous step

In [43]:
toronto_df = pd.DataFrame(columns=header_columns)
toronto_df

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

### Read comments below to understand each step

In [44]:
# Delete all rows in the dataframe before loading the records
toronto_df = toronto_df[0:0]

# Loop through each row 
for trvalue in tr_values:
    
# Retrieve the column information    
    td_values = trvalue.find_all('td')
    if len(td_values) > 0 :
        tdlist = []
        
# Loop through each column, clean the data and load them into the dataframe        
        for tdvalue in td_values:
            if len(tdvalue.find_all('a')) > 0 :
                link = tdvalue.find('a')
                tdlist.append(link.get('title').replace('\n','').replace('(Toronto)','').replace(', Toronto',''))
            else:    
                tdlist.append(tdvalue.contents[0].replace('\n','').replace('(Toronto)','').replace(', Toronto',''))  
                
# Replace Neighbourhood column with Borough value when Neighbourhood = 'Not assigned'
        if tdlist[2] == 'Not assigned':
            tdlist[2] = tdlist[1]
# Load the data into dataframe only when Borough is not 'Not assigned'            
        if tdlist[1] != 'Not assigned':
            toronto_df = toronto_df.append(pd.Series(tdlist, index=toronto_df.columns ), ignore_index=True)
        
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto     Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

- __Group the records by Postcode and Borough__
- __aggregate the Neighbourhood column separated by commas when there are multiple Neighbourhood for each Borough__

In [45]:
toronto_df = toronto_df.groupby(['Postcode','Borough']).agg({'Neighbourhood' : ','.join}).reset_index().reindex(columns=toronto_df.columns)

toronto_df.head()

  Postcode      Borough                          Neighbourhood
0      M1B  Scarborough                          Rouge,Malvern
1      M1C  Scarborough  Highland Creek ,Rouge Hill,Port Union
2      M1E  Scarborough        Guildwood,Morningside,West Hill
3      M1G  Scarborough                                 Woburn
4      M1H  Scarborough                              Cedarbrae

### Print the shape the dataframe

In [46]:
toronto_df.shape

(103, 3)